name: Contract Tests

on:
  push:
    branches:
      - master
    pull_request:

jobs:
  contract-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Start pact broker
        run: docker compose up -d --wait --wait-timeout 150

      - name: Run Consumer contract tests
        working-directory: ./petstore-consumer
        run: mvn clean test

      - name: Publish Pact verification results
        if: success()
        env:
          PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
          PACT_BROKER_USERNAME: ${{ secrets.PACT_BROKER_USERNAME }}
          PACT_BROKER_PASSWORD: ${{ secrets.PACT_BROKER_PASSWORD }}
          PACT_CONSUMER_VERSION: ${{ github.sha }}
          PACT_DIRECTORY: target/pacts
        working-directory: ./petstore-consumer
        run: mvn pact:publish